body {
    background-image: url(../images/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color: #f3f3f3;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 30px;
}

.card {
    background-color: #070d12;
    width: 370px;
    border: 2px solid #e126d9;
    border-radius: 10px;
    overflow: hidden;
}

.tabs img {
    width: 30px;
}

.card .my-info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card .my-info img{
    border-radius: 50px;
    border: 4px solid #02d08f;
}

.card .my-info .name{
    font-size: 26px;
}

.card .my-info .role{
    font-size: 20px;
    color: #b8bbc5;
}

.card .content{
    /* background-color: red; */
    margin-top: 15px;
}

.card .tabs{
    display: flex;
}

.card .tabs .tab{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.card .tabs img{
    width: 30px;
}

.card .tabs .tab.selected{
    background-color: #262626;
}

.card .tab-infos{
    background-color: #262626;
}

.card .tabs .tab:hover{
    background-color: #414141;
}

.tab-infos .info{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.tab-infos .info.selected{
    display: block;
}

.tab-infos .sub-title{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.tab-infos .description{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.tab-infos .description span{
    color: #02d08f;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
}

.social li a{
    background-color: red;
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s;
}


.social li a:hover{
    opacity: 0.8;
}

.social .curriculo{
    background-color: #06c185;
}

.social .linkedin{
    background-color: #1d87bd;
}

.social .github{
    background-color: #545454;
}

